html,body
{
	margin: 0px;
	padding: 0px;
	width: 100%;
}
		

.ident .search
{
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	background:#fff;
	transition: all .5s ease-in-out;
}
.ident .search .icon
{
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
    color:#3A173F;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.ident .search .icon:before
{
	content: '\f002';
	font-family: fontAwesome;

}
.ident .search.active .icon:before
{
	content: '\f00d';
	font-family: fontAwesome;

}
.ident .search.active
{
	width: 100vw;
	height: 100vh;

}
 .ident .search .form
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
    display: none;
}
.ident .search .form input
{
	background:transparent;
	color:#3A173F;
	border:none;
	border-bottom: 4px solid #3A173F;
	outline:none;
	font-size: 40px;
	padding: 10px 0;
}
.ident .search.active .form
{
	display: block;
}
/*start login */
.log
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	width: 400px;
	padding: 40px;
	background:rgba(0,0,0,.8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	border-radius: 10px;
}
.log h2
{
	margin: 0 0 30px;
	padding: 0;
	color: white;
  text-align: center;

}
.log .us 
{
	position: relative;
}
.log .us input
{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	border:none;
	border-bottom: 1px solid #fff;
	outline: none;
    background:transparent;
}
.log .us label
{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: all .5s ease-in-out;
}
.log .us input:focus ~ label,
.log .us input:valid ~ label
{
	top: -26px;
	left: 0;
	color: #3A173F;
	font-size: 26px;
}
.log .us label:nth-of-type(3)
{
	margin-bottom: 10px;
}
{
	border-bottom: 4px solid #3A173F;
}
.log .us input[type="file"]
{
	border-color:white;
	background-color: #3A173F;
	border-radius: 10px;
	color: white; 
	padding: 10px;
	margin-top: 35px;
}
.log button
{
    border-color:white;
	background-color: #3A173F;
	border-radius: 10px;
	color: white; 
	padding: 10px;
} 
.log button:hover
{
    border-color:white;
	background-color: #3A173F;
	text-shadow: 0 0 5px #3A173F;
box-shadow: 0 0 40px #3A173F,inset 0 0 40px #3A173F;
}	
/* end login*/
/* start pop up*/
.popup
{
	position: fixed;
	top:0;
	left:0;
	width: 100vw;
	height: 100vh;
	background:rgba(0,0,0,.5);
	display: none;
}

/* end pop up*/
/*.sec2:before
{
	content: '';
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 400px;
	background:linear-gradient(#000,transparent);
	pointer-events: none;

}*/
.sec2:after
{
	content: '';
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 400px;
	background:linear-gradient(#000,transparent);
	pointer-events: none;

}
.sec2
{
	position: relative;
	background-image:url(img/slide/1.png);
	background-size: cover;
	height: 100vh; 
}
body
	{
		width: 100%;
		height: 100vh;
		background:url(img/1.jpg);
		background-size: cover;
	    margin: 0;
	    padding-top: 0;
	}
.ident nav ul  a  
{
	background-color: #DB0409;
	text-decoration: none;
	height: 35px;
    border-radius: 10px;
    color: white;
    padding: 10px;
    transition: all 1s ease-in-out;
}
.ident nav ul  a:hover
{
	border-color: #3A173F;
    background-color: white;
    border-radius: 10px;
    color: #3A173F;
    padding: 10px;	
} 
.ident nav ul  img
{
	width: 20%;
}
.ident nav ul  label
{
	color: #fff;
}